

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/26756fc31d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
   <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" >
   <link rel="stylesheet"  href="hhtps://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" >
   <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css" >
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" ></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js" ></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>


    <script src="script.js"></script>

    <style>
        #success_message {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  legend {
    font-family: "Krona One", sans-serif;
    text-align: center;
    font-size: 2em;
    padding-bottom: 30px;
  }
  
  .well {
    max-height: 100%;
    min-width: 90%;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background:rgba(225, 225, 225, 0.4);
   
    animation: bg-animation 15s ease-in-out infinite alternate;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto;
  }
  

  
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(225, 225, 225, 0.4);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #78586f;
  }
  
  .form-group {
    position: relative;
    max-height: 100vh;
    position: relative;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0%);
  }
  label {
    font-size: 16px;
    padding-bottom: 5px;
  }
  
  input[type="text"] {
    align-items: center;
    width: 240px;
    margin-left: 0px;
    height: 40px;
    outline: none;
    background: none;
    border: 0;
    display: block;
    background: white;
    color: rgb(0, 0, 0);
    font-weight: 700;
  }
  
  button[type="submit"] {
    position: relative;
    left: 50%;
    top: 90%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    margin-bottom: 20px;
    background: grey;
    text-decoration: none;
    border: 2px solid white;
    transition: 0.15s;
  }
  button[type="submit"]:hover {
    background-color: rgb(249, 60, 82);
    border: 2px solid rgb(249, 60, 79);
  }

    </style>
</head>
  
  <body>
    <div class="container">
  
      <form class="well form-horizontal" action="/ " method="post" id="details_form" >
        <fieldset>
  
          
          <legend>DETAILS</legend>
  
          
  
          <div class="form-group">
            <label class="col-md-4 control-label">Student Name</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="Studentname" placeholder=" Enter your  Name" class="form-control" type="text">
              </div>
            </div>
          </div>
    
          <div class="form-group">
            <label class="col-md-4 control-label">Course Name</label>
            <div class="col-md-4 selectContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                <select name="Course" class="form-control selectpicker">
                  <option value=" ">Please select your course</option>
                  <option>Computer Science Engineering</option>
                  <option>Electronics and Communication Engineering</option>
                  <option>Mechanical Engineering</option>
                  <option>Electrical Engineering</option>
                  <option>Civil Engineering</option>
                  <option>Chemical Engineering</option>
                  <option>Electrical and Electronics Engineering</option>
                  <option>Automobile engineering</option>
                  <option>Metallurgy Engineering</option>
                  <option>Production Engineering</option>
                </select>
              </div>
            </div>
          </div>
    
          <div class="form-group">
            <label class="col-md-4 control-label">Age</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input name="Age" placeholder="Enter your age (15 - 25)" class="form-control" type="text">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">E-Mail</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
              </div>
            </div>
          </div>
          <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>
  
          
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
              <button type="submit" class="btn btn-warning">Submit <span class="glyphicon glyphicon-send"></span></button>
            </div>
          </div>
  
        </fieldset>
      </form>
    </div>
  </body>
  </html>